<%= form_for [current_user, @contact] do |f| %>


   <%= f.label :first_name %>
   <%= f.text_field :first_name %>

   <%= f.label :last_name %>
   <%= f.text_field :last_name %>

   <%= f.label :phone_number %>
   <%= f.text_field :phone_number %>

   <%= f.submit class: "btn link-btn" %>


 <% end %>

<br>
<hr>
<br>

<% @users.each do |contact| %>
  <%= form_for [current_user, contact] do |f|%>
    <h4><%= contact.first_name %></h4>
    <h4><%= contact.last_name %></h4>
    <%= f.hidden_field, :value => contact.id %>
    <%= f.submit %>
<% end %>
