<h3>Contact Info</h3>
<p>
  <%= @contact.first_name %> <%= @contact.last_name %>
</p>
<p>
 <%= @contact.phone_number %>
</p>
<hr>
<h4>Messages</h4>
<% if @contact.messages.any? %>

  <div class="collection">
    <% @contact.messages.each do |message|%>
      <p class="collection-item"><%= message.body %></p>
  <% end %>
  </div>
<% else %>
<p>
  You don't have any messages with <%= @contact.first_name %> yet
</p>
<% end %>

<div class="card">
  <h5>Message <%= @contact.first_name %> <%= @contact.last_name  %></h5>

  <%= form_for [@contact, @message] do |f| %>
     <%= f.hidden_field :to, value: @contact.phone_number %>
     <%= f.label :body %>
     <%= f.text_field :body %>
     <%= f.hidden_field :from, value: current_user.send_number %>

   <%= f.submit class: "btn link-btn" %>
 </div>


 <% end %>
