<h3>Contact Info:</h3>
<p>
  First Name: <%= @contact.first_name %>
</p>
<p>
  Last Name: <%= @contact.last_name %>
</p>
<p>
  Phone Number: <%= @contact.phone_number %>
</p>
<hr>
<% if @contact.messages.any? %>
  <% @contact.messages.each do |message|%>
  <p>-<%= message.body %></p>
  <% end %>
<% else %>
<p>
  You don't havee any messages with <%= @contact.first_name %> yet
</p>
<% end %>
<h5>Message <%= @contact.first_name %> <%= @contact.last_name  %></h5>

<%= form_for [@contact, @message] do |f| %>
   <%= f.hidden_field :to, value: @contact.phone_number %>
   <%= f.label :body %>
   <%= f.text_field :body %>
   <%= f.hidden_field :from, value: current_user.send_number %>

   <%= f.submit class: "btn link-btn" %>


 <% end %>
