<!DOCTYPE html>
<html>
  <head>
    <title>TextinApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav>
  <div class="nav-wrapper black">
    <%= link_to "Text Me", root_path, :class => "brand-logo" %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user %>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete  %></li>
        <li><%= link_to "View Messages", user_messages_path(current_user) %></li>
        <li><%= link_to "View Contacts", user_contacts_path(current_user) %></li>

      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
